.header {
  background: #000000;
  color: white; 
  height: 55px;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}



.nav {
    background: #000000;
    color: white;
    height: 55px;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }

  .section {
    background: #000000;
    color: white;
    width: 495px;
    height: 350px;
    font-size: 18px;
    float: left;
    margin-right: 10px;
   
  }

  .article{
        background: #777;
        color: white;
        width: 90%;
        height: 65%;
        font-size: 18px;
        position: relative;
        margin-left: 0px;
        margin-top: 50px;
  }
      .h1{
        background: #000000;
        color: white;
        width: 90%;
        height: 20%;
        font-size:18px;
        margin-top: 75px;
        margin-left: 0px;
        margin-bottom: 10px;
          }
    
    .p{
        background: #000000;
        color: white;
        width: 90%;
        height: 20%;
        font-size:18px;
        margin-left: 0px; 
        }

  .aside {
    background: #000000;
    color: white;
    width: 400px;
    height: 350px;
    font-size: 18px;
    float: right;
    margin-bottom: 10px;
  }

  body.mrgn{
      margin-left: 150px;
      margin-right: 100px;
      font-family: Arial, Helvetica, sans-serif;
      width: 960px;
  }

  .footer{
  height: 55px;
  font-size: 18px;
  background: #000;
  color: #fff;
  clear:both;
  margin-bottom: 20px;
}

#cntr {
  margin-top: 50%;

}

.pad{
 
  padding: 20px;
}


